@tailwind base;

h1 {
  @apply text-2xl;
}

h2 {
  @apply text-xl;
}

h3 {
  @apply text-lg;
}

a {
  @apply text-gorse;
  transition: color 250ms ease-in-out, transform 150ms ease;
}

a:hover,
a:focus {
  @apply text-aqua;
}

body {
  font-family: 'Montserrat', sans-serif;
  @apply text-primary;
  background: linear-gradient(#0a0a40, #3a24c2, #482be7);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
}

q {
  font-family: 'Indie Flower', cursive;
  @apply text-xl;
  @apply text-gorse;
}

@tailwind components;

@tailwind utilities;

.get-started {
  @apply px-12;
  @apply py-4;
  @apply rounded;
  background: linear-gradient(105deg, #00c6ff, #0072ff);
}

.features {
  @apply flex;
  @apply w-full;
  @apply mt-32;
  @apply justify-center;
}

.features > * {
  @apply flex-grow;
  @apply justify-center;
}

@screen xl {
  .features {
    @apply mt-40;
  }
}
