@tailwind base;

h1 {
  @apply text-2xl;
}

h2 {
  @apply text-xl;
}

h3 {
  @apply text-lg;
}

a {
  @apply text-gorse;
  transition: color 250ms ease-in-out, transform 150ms ease;
}

a:hover,
a:focus {
  @apply text-aqua;
}

body {
  font-family: 'Montserrat', sans-serif;
  @apply text-primary;
  @apply bg-primary;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
}

@tailwind components;

@tailwind utilities;

/* font-family: 'Indie Flower', cursive;
font-family: 'Lato', sans-serif; */
